<template>
  <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
      <h2 class="mb-5">Expériences</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Formateur Développement Web</h3>
          <div class="subheading mb-3"><a href="https://simplon.co/grenoble/" target="_blank" rel="noopener noreferrer">Simplon.co</a></div>
          <p>Formateur dans le domaine du développement web. Accompagnement et suivi d'étudiants en reconversion professionnelle. Mes interventions portent essentiellement sur Symfony et Angular.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Avril 2019 - Aujourd'hui</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Développeur Fullstack freelance</h3>
          <div class="subheading mb-3"><a href="https://www.arkema.fr" target="_blank" rel="noopener noreferrer">Arkema</a></div>
          <p>Développement d'une interface d'administration en Symfony 4 et Vue JS, pour la gestion du vidéoclub du comité d'entreprise.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Août 2019</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Développeur Frontend freelance</h3>
          <div class="subheading mb-3"><a href="https://neuralytics.ai/" target="_blank" rel="noopener noreferrer">Neuralytics.ai</a></div>
          <p>Mission en freelance portant sur la création d'une interface front-office, pour la consommation d'une API dans le secteur de l'IA.
            Création d'un nouveau projet et intégration en Vue.js et SASS</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Mars 2019 - Juillet 2019</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Développeur Fullstack freelance</h3>
          <div class="subheading mb-3"><a href="https://utip.io/" target="_blank" rel="noopener noreferrer">uTip</a></div>
          <p>Mission en freelance concernant la création d'une nouvelle interface utilisateur pour la gestion des boutiques en ligne.<br/>
            Developpement du back-office en Symfony 4 et du front-office en Vue JS + Bootstrap 4</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Janvier 2019 - Juillet 2019</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Développeur Web Junior</h3>
          <div class="subheading mb-3"><a href="https://www.extellient.com/" target="_blank" rel="noopener noreferrer">Extellient</a></div>
          <p>Conception et développement d'applications avec le framework PHP Symfony 2/3/4.<br/>
            Intégration Web et mise en place de processus Front (Webpack, ESLint).<br/>
            Mise en oeuvre d'architectures Docker et utilisation de GitLab</p>.<br/>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Juillet 2017 - Janvier 2019</span>
        </div>
      </div>

    </div>
  </section>
</template>
